@charset "utf-8";

#right {
    width: 100%;
}
#right_header img{
    width: 100%;
}
.frame_head {
    background: url(/image/right_header.png);
}
.frame_body {
    padding: 0px 20px;
    font-size: 14px;
}

.news_title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}
.news_info {
    border-top: 1px solid #E2E2E2;
    color: #999;
    text-align: center;
    padding: 3px 0;
}
.news_content {
    margin: 20px 0px;
    line-height: 200%;
}
.edit {
    cursor: hand;
}
.delete {
    cursor: hand;
}