@charset "utf-8";

#right {
    width: 100%;
}
#right_header img{
    width: 100%;
}
.frame_body {
    padding: 0px 20px;
    font-size: 14px;
}

.news_title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #E2E2E2;
    padding: 10px 0;
}
.news_info {
    color: #999999;
    text-align: center;
    padding: 3px 0;
}
.news_content {
    margin: 20px 0px;
    line-height: 200%;
}